.dm-sans-font {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "DM Sans", serif;
    font-weight: 400;
    font-style: normal;
}